@font-face {
  font-family: "montserrat-light";
  src: url("../fonts/Montserrat/static/Montserrat-Light.ttf");
}

@font-face {
  font-family: "montserrat-semibold";
  src: url("../fonts/Montserrat/static/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: "montserrat-bold";
  src: url("../fonts/Montserrat/static/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "encode-sans-expanded-light";
  src: url("../fonts/Encode_Sans_Expanded/EncodeSansExpanded-Light.ttf");
}

@font-face {
  font-family: "encode-sans-expanded-regular";
  src: url("../fonts/Encode_Sans_Expanded/EncodeSansExpanded-Regular.ttf");
}

@font-face {
  font-family: "encode-sans-expanded-medium";
  src: url("../fonts/Encode_Sans_Expanded/EncodeSansExpanded-Medium.ttf");
}

:root {
  --primary: #24e05d;
  --primary-dark: #021012;

  --primary-dark-0: #051416;
  --primary-dark-1: #0c1b1e;

  --primary-light-0: #eff2e7;
  --primary-light-1: #ecf3d7;
  --primary-light-2: #d2f0ef;
  --primary-light-3: #b6ddde;
  --primary-light-4: #91f5af;

  --allert: #e82b2b;
  --allert-light: #f49e83;

  --border-dark-color: rgb(145, 245, 175, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 60px;
  background: var(--primary-light-0);
  color: var(--primary-dark);
  padding: 10px 20px;
  position: sticky;
  top: 0;

  .box-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 600px;
    margin: auto;
  }

  .logo {
    width: 40px;
    height: 40px;
    background: var(--primary-dark);
    border-radius: 20px;
  }

  #sumary-header {
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: "montserrat-bold";
  }

  .show-sumary-value {
    display: flex;
  }
}

body {
  font-family: "encode-sans-expanded-light";
  background: var(--primary-dark);
  color: var(--primary-light-1);
}

main {
  padding: 20px;
  max-width: 600px;
  margin: auto;
}

fieldset {
  border: none;
}

input[type="text"],
input[type="tel"],
input[type="date"],
input[type="number"],
input[type="month"],
select {
  height: 30px;
}

input[type="text"],
input[type="tel"],
input[type="date"],
input[type="number"],
input[type="month"],
textarea,
select {
  border: none;
  padding: 5px;
  font-family: "encode-sans-expanded-light";
  border-radius: 2px;
}

textarea {
  height: 80px;
}

a {
  text-decoration: none;
}

h2.section-title {
  display: flex;
  align-items: end;
  gap: 10px;
  font-size: 20px;
  font-family: "montserrat-bold";
  cursor: pointer;
}

h2.section-title:hover {
  color: var(--primary);
}

h2.section-title > i,
h2.section-title > span {
  transition: 0.3s;
}

.flex-entrys-content {
  display: flex;
}

.day-line:not(:first-of-type) {
  margin-top: 5px;
}

.rotate-180deg {
  rotate: -180deg;
}

.section-title.accordeon-open:not(:first-of-type) {
  margin-top: 20px;
  margin-bottom: 20px;
}

#form-entry/*,
#display-entry-sumary*/ {
  display: none;
}

.input-legend {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
}

.box-input.label-row {
  display: flex;
  flex-direction: column;
  padding: initial;
}

.box-input {
  display: flex;
  gap: 5px;
  padding: 2.5px 0 2.5px 10px;
}

.box-input.box-toggle {
  padding: 0;
  /* display: flex;
  align-items: center;
  gap: 5px; */
}

.btn {
  font-family: "montserrat-bold";
  text-transform: uppercase;
  font-size: 16px;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  margin-top: 20px;
}

.btn-primary {
  background: var(--primary);
  color: var(--primary-dark);
}

legend.input-legend,
label.input-legend {
  color: var(--primary);
}

.color-allert {
  color: var(--allert);
}

.box-toggle {
  .input-legend {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .input-toggle {
    width: 24px;
    height: 14px;
    border-radius: 8px;
    outline: 3px solid var(--primary-light-0);
    outline-offset: -1px;
    display: flex;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
  }

  .event-key-toggle {
    max-width: max-content;
    transition: 0.3s;
  }

  .event-key-toggle:hover .input-toggle {
    outline-color: var(--primary);
  }

  .event-key-toggle:hover .input-toggle::after {
    background: var(--primary);
    transition: 0.3s;
  }

  .input-toggle::after {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background: var(--primary-light-1);
    position: relative;
    left: 3px;
    transition: 0.3s;
  }

  .effected-yes:checked + .input-legend .input-toggle {
    background: var(--primary);
    outline-color: var(--primary);
  }

  .effected-yes:checked + .input-legend .input-toggle::after {
    left: 13px;
    background: var(--primary-dark);
  }
}

#display-entry-sumary {
  .box-toggle label.input-legend {
    color: inherit;
  }

  .card-sumary.expense {
    .icon-card i {
      color: var(--allert);
    }

    .content-card-sumary {
      .arrown-two {
        color: var(--allert-light);
      }
    }

    .entry-price {
      background: var(--allert);
    }
  }

  .card-sumary.revenue {
    .icon-card i {
      color: var(--primary);
    }

    .content-card-sumary {
      .arrown-two {
        color: var(--primary-light-4);
      }
    }

    .entry-price {
      background: var(--primary);
      color: var(--primary-dark);
    }
  }

  .card-sumary:not(:first-of-type) {
    margin-top: 5px;
  }

  .card-sumary {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-between;
    background: var(--primary-dark-0);
    border: 1px solid var(--border-dark-color);
    border-radius: 2px;

    .box-input {
      font-family: "encode-sans-expanded-medium";
      font-size: 10px;

      .input-legend {
        margin-top: initial;
        margin-bottom: initial;
        gap: 10px;
      }
    }

    .content-card-sumary {
      width: 100%;
      /* display: flex;
      flex-direction: column;
      gap: 5px; */

      .arrown-one {
        display: flex;
        align-items: center;
        gap: 10px;
        /* color: var(--primary-light-2); */
      }

      h3 {
        font-family: "montserrat-light";
        font-size: 14px;
        font-weight: 100;
      }

      .arrown-two {
        font-family: "encode-sans-expanded-medium";
        font-size: 10px;
      }

      .arrown-tree {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
      }
    }

    .edit-entry:hover .btn-icon i {
      outline: 1px solid var(--border-dark-color);
      transform: scale(1.1);
      color: var(--primary);
    }

    .remove-entry:hover .btn-icon i {
      outline: 1px solid var(--border-dark-color);
      transform: scale(1.1);
      color: var(--allert);
    }

    .form-edity-entry {
      font-size: 12px;
      flex: 1;
      display: none;
    }
  }

  .entry-price {
    font-family: "montserrat-semibold";
    font-size: 10px;
    padding: 5px 10px;
    border-radius: 12px;
    max-height: max-content;
  }

  .entry-tags {
    display: flex;
    gap: 5px;
    align-items: baseline;

    .entry-category {
      display: flex;
      align-items: center;
      gap: 5px;
      font-family: "encode-sans-expanded-light";
      font-size: 10px;
    }
  }

  /* a.remove-entry span.btn-icon > i {
    background: var(--allert);
    color: var(--primary-light-0);
  } */

  span.btn-icon > i {
    font-size: 9px;
    color: var(--primary-light-3);
    padding: 4px;
    background: var(--primary-dark-1);
    width: 26px;
    height: 26px;
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s;
  }
}
